<div class="widget tag">
  <h3 class="title">为皮蛋豆腐捐赠猫粮！</h3>
  <div style='text-align: center; margin-top: 14px;'>
    <img alt='alipay-qrcode' src='http://7xkmw1.com1.z0.glb.clouddn.com/alipay-qrcode.png' />
  </div>
  <p style='padding: 14px;'>
    使用支付宝扫描二维码，或在电脑上 <a href="javascript:document.querySelector('[name=donate]').submit()">点击这里</a>。
    你的捐款将专门用于为皮蛋豆腐购买猫粮、猫砂、玩具，进行疾病防治。
  </p>
  <form name='donate' style='display: none;' action="https://shenghuo.alipay.com/send/payment/fill.htm" method="post" target="_blank">
    <input name="optEmail" type="hidden" value="jysperm@gmail.com">
    <input name="payAmount" type="hidden" value="10">
    <input name="title" type="hidden" value="cats">
    <button type="submit">立即捐赠</button>
  </form>
</div>
