<div class="widget tag">
  <h3 class="title">关注精子的微信公众号</h3>
  <div style='text-align: center; margin-top: 14px;'>
    <img alt='alipay-qrcode' src='http://7xkmw1.com1.z0.glb.clouddn.com/weixin-qrcode.png' />
  </div>
  <p style='padding: 14px;'>
    公众号会推送 <a href='https://jysperm.me' target='_blank'>精子的博客日志</a>、精子的产品和项目的最新动态，以及皮蛋和豆腐的照片。
  </p>
</div>
